/* banner */
.big_banner {
  background: url(../img/main/banner_main.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 1042px;
}
.big_banner img {
  width: 100%;
}
.big_banner h2 {
  font-size: 85px;
  margin-bottom: 10px;
}
.big_banner h4 {
  margin-bottom: 21px;
}

/* section:reason */
#reason .item {
  width: 400px;
  margin: 0 auto;
}
#reason .item .icon {
  margin: auto;
  background: var(--primary-color3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19px;
}
#reason .item .icon img {
  width: 40px;
  height: 40px;
}
#reason h2 {
  margin-bottom: 107px;
}
#reason h3 {
  margin-bottom: 19px;
}
#reason h4 {
  margin-bottom: 135px;
}
#reason button {
  margin-bottom: 135px;
}

/* section:evaluate */
#evaluate {
  background: var(--primary-color3);
  padding: 135px 24px;
  border-radius: 70px;
}
#evaluate .profile {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
#evaluate .name {
  margin-left: 32px;
  text-align: left;
}
#evaluate .review {
  text-align: left;
}
#evaluate h2 {
  margin-bottom: 38px;
}
#evaluate h3 {
  font-family: "DM Serif Display", serif;
}
#evaluate p {
  font-size: var(--size-06);
  line-height: 180%;
}
#evaluate .d-flex {
  gap: 20px;
}
#evaluate .item {
  width: 370px;
  background: #fff;
  border-radius: 20px;
  padding: 34px 37px;
}
#evaluate img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
}

#project {
  padding: 135px 0;
}
#project h2 {
  margin-bottom: 8px;
}
#project h3 {
  font-family: "DM Serif Display", serif;
}
#project p {
  font-size: var(--size-04);
  margin-bottom: 93px;
}
#project .row {
  gap: 0 104px;
}
#project .item .thumbnail {
  width: 525px;
  height: 548px;
  margin-bottom: 24px;
}
#project .item:nth-child(1) .thumbnail {
  border-radius: 0 100px 0 0;
}
#project .item:nth-child(2) .thumbnail {
  border-radius: 100px 0 0 0;
}
#project .item:nth-child(3) .thumbnail {
  border-radius: 0 0 100px 0;
}
#project .item:nth-child(4) .thumbnail {
  border-radius: 0 0 0 100px;
}
#project .details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

/* section:career */
#career {
  background: var(--primary-color3);
  padding: 151px 0;
  display: flex;
  justify-content: center;
  gap: 54px;
  align-items: center;
}
#career .bar {
  width: 1px;
  height: 130px;
  background-color: var(--primary-color1);
}
#career .item p:first-child {
  font-size: 85px;
  font-family: "DM Serif Display", serif;
  color: var(--primary-color1);
}
#career .item p:last-child {
  font-size: var(--size-04);
}

/* section:blog */
#blog {
  padding: 135px 0;
}
#blog h2 {
  margin-bottom: 12px;
}
#blog p {
  line-height: 150%;
  margin-bottom: 52px;
}
#blog .item {
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  padding: 21px;
  text-align: left;
  margin-bottom: 52px;
}
#blog .item > img {
  width: 340px;
  border-radius: 62px 62px 0 0;
  margin-bottom: 21px;
}
#blog .item h3 {
  font-size: var(--size-03);
  font-family: "DM Serif Display", serif;
  line-height: 125%;
  margin-bottom: 30px;
}
#blog .d-flex {
  gap: 27px;
}
#blog .shortcut {
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
}

/* section:contact */
#contact {
  background: var(--primary-color2);
  padding: 80px 0;
  color: #fff;
  border-radius: 70px;
}
#contact h2 {
  margin-bottom: 12px;
}
#contact p {
  line-height: 150%;
  margin-bottom: 32px;
}
